body {
    background-color: black;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'franklin gothic medium', 'arial narrow', arial, sans-serif;
}

h1 {
    font-size: 50px;
    color: #020077;
}

input{
    height: 30px;
    border: 2px solid #020077;
    background-color: #333;
    color: #eee;
    outline: none;
    width: 75%;
}

button {
    background-color: darkblue;
    color: white;
    border: none;
    height: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90px;
}

button:hover {
    background-color: rgb(0, 0, 211);
}

button:active {
    background-color: rgb(49, 49, 255);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #020077;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    cursor: pointer;
}